.img-container-cover {
  overflow: hidden;
}

.title {
  position: relative;
  left: 10vh;
  top: -90vh;
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
  font-size: 72px;
  color: var(--cover-title-color);
}

@media (min-width: 768px) {
  .title {
    top: -80vh;
  }
}
