:root {
  /* Menu */
  --menu-height: 50px;
  --menu-width: 150px;

  /* Profile */
  --profile-image-size: 250px;

  /* Size */
  --title-size-mobile: 48px;
  --title-size: 54px;
  --subtitle-size: 24px;
  --subtitle-size-mobile: 18px;

  /* Colors */
  --even-page-color: rgba(230, 228, 222, 0.8);
  --odd-page-color: #F7F9FB;

  --menu-color: white;
  --odd-tab-color: rgb(255, 255, 255);
  --even-tab-color: rgb(255, 255, 255);
  --trigger-tab-color: rgb(49, 51, 66);
  --trigger-font-color: white;
  --tab-hover-color: rgb(121, 140, 158);

  --tag-color: rgb(55, 133, 179);
  --tag-font-color: #DFE0E0;

  --score-off: #DFE0E0;
  --score-on: rgb(158, 136, 97);
  --skill-hover: #DFE0E0;

  --cover-title-color: rgb(27, 55, 107);
  --title-color: rgb(85, 126, 179);
  --subtitle-color: var(--title-color);
  --subheading-color: rgb(45, 168, 177);
  --text-color: #434242;
}

.home {
  height: 100%;
  width: 100%;
}

.page {
  display: inline-block;
  overflow: hidden;
  width: 80%;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.odd {
  background-color: var(--odd-page-color);
}

.even {
  background-color: var(--even-page-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .page {
    width: 70vw;
  }
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}
