.container {
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 1200px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding: 20px;
  }
}

.detail-container,
.img-container-profile,
.about-container {
  flex: 1 1 300px;
  max-width: 300px;
}

.img-container-profile {
  flex: 1 1 300px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container-profile img {
  width: var(--profile-image-size);
  height: var(--profile-image-size);
  max-height: var(--profile-image-size);
}

.about-container {
  margin: 0;
}

.about-container .about {
  text-align: left;
}

.about-container .about h2{
  text-align: left;
  color: var(--subtitle-color);
  margin-bottom: 20px;
  font-size: 28px;
}

.detail-container .detail .item {
  display: flex;
  margin-bottom: 10px;
}

.detail-container .detail .key {
  background-color: var(--tag-color);
  width: 100px;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 20px;
  color: var(--tag-font-color);
  text-align: center;
  display: inline-block;
}