/* Menu */
.menu {
  height: 50px;
  width: 150px;
  background-color: white;
}

/* Profile */
.profile-image {
  width: 250px;
  height: 250px;
}

/* Font Sizes */
.title {
  font-size: 54px;
}

.title-mobile {
  font-size: 48px;
}

.subtitle {
  font-size: 24px;
}

.subtitle-mobile {
  font-size: 18px;
}

/* Page Colors */
.page-odd {
  background-color: #F7F9FB;
}

.page-even {
  background-color: rgba(230, 228, 222, 0.8);
}

/* Tabs */
.tab-body.odd {
  background-color: rgb(255, 255, 255);
}

.tab-body.even {
  background-color: rgb(255, 255, 255);
}

.tab-body.trigger {
  background-color: rgb(49, 51, 66) !important;
  color: white;
}

.tab-body.trigger strong {
  color: inherit;
}

.tab-body:hover {
  color: rgb(121, 140, 158);
}

/* Tags */
.tag {
  background-color: rgb(55, 133, 179);
  color: #DFE0E0;
}

/* Scores */
.score.off {
  color: #DFE0E0;
}

.score.on {
  color: rgb(158, 136, 97);
}

/* Skills */
.skill:hover {
  background-color: #DFE0E0;
}

/* Typography */
.cover-title {
  color: rgb(27, 55, 107);
}

.title-color {
  color: rgb(85, 126, 179);
}

.subtitle-color {
  color: rgb(85, 126, 179);
}

.subheading {
  color: rgb(45, 168, 177);
}

.text {
  color: #434242;
}

.page {
  display: inline-block;
  overflow: hidden;
  width: 80%;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .page {
    width: 70vw;
  }
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
  color: #434242; /* replace this with your actual text color */
}
