.container {
  margin: 20px auto;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.detail-container {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .detail-container {
    width: 33%;
  }
}

.detail {
  display: flex;
  flex-direction: row;
  width: 80%;
}

@media (min-width: 768px) {
  .detail {
    width: 250px;
  }
}

.item {
  display: flex;
  margin-bottom: 10px;
}

.key {
  background-color: var(--tag-color);
  width: 100px;
  margin-right: 10px;
  line-height: 20px;
  color: var(--tag-font-color);
}

.img-container-profile {
  margin: auto;
}

@media (min-width: 1080px) {
  .img-container-profile {
    margin: 0 20px;
  }

  .img-container-profile img {
    margin: auto;
  }
}

.img-container-profile img {
  width: var(--profile-image-size);
  height: var(--profile-image-size);
  max-height: var(--profile-image-size);
  display: block;
  margin: auto;
}

.content-container {
  width: 100%;
}

@media (min-width: 1080px) {
  .content-container {
    width: 30%;
  }
}

.about-container {
  width: 100% !important;
}

@media (min-width: 1200px) {
  .about-container {
    width: 30% !important;
  }
}

.about {
  text-align: left;
}

.about h2,
.about h3 {
  color: var(--subtitle-color);
  margin-bottom: 20px;
  font-size: 28px;
  text-align: left;
}

.fb-like {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .fb-like {
    margin-top: 40px;
  }
}
